

@layer {
   * {
      scrollbar-color: #f20ed9 #202324;
   }
   
   html {
      color-scheme: dark;
   }
}

code {
   /* white-space: pre; 
   text-wrap-mode: nowrap;
   white-space-collapse: preserve; */
   text-wrap-mode: wrap;
   white-space-collapse: preserve-spaces;
   
   display: block; 
   font-family: monospace; 
   margin: 1em 0;
}