

@layer {
   * {
      scrollbar-color: #f20ed9 #202324;
   }
   
   html {
      color-scheme: dark;
   }
   
   body {
      gap: 2vw;
   }
   
   page {
   }
   
   [section] {
   }
}

@media ( prefers-color-scheme: dark ) {
   :root {
   }
}

[section] > header {
   padding: .5em;
}

table {
}

th, caption {
   background-color: #669;
}
thead, tr, td {
   border: 0px solid #944;
   margin: 0;
   flex: 1;
   background: #3e333a;
}
